.button {
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 171%;
  padding: 0.25rem 1rem;
  color: #fff;
  box-shadow:
    inset -1px -1px 3px 0 rgba(255, 255, 255, 0.06),
    inset 2px 2px 3px 0 rgba(255, 255, 255, 0.19),
    4px 4px 6px 0 rgba(134, 176, 255, 0.08);
  background: #5e88d8;
  border-radius: 0.38rem;

  &--secondary {
    color: #5e88d8;
    background-color: transparent;
    border: 0.06rem solid #5e88d8;
  }
}
