.button {
  border: 1px solid #35364d;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  box-shadow:
    0.12rem 0.12rem 0.18rem 0 rgba(0, 0, 0, 0.1),
    -1px -1px 2px 0 rgba(255, 255, 255, 0.06);
  background: #252635;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}
